@import "@mantine/core/styles.css";

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    p,
    small,
    span,
    label,
    textarea,
    input,
    a {
        font-family: "Questrial", sans-serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Questrial", sans-serif !important;
    }
    p {
        font-size: 16px;
    }
}

@layer components {
    .card {
        @apply bg-white px-5 py-5  shadow-lg rounded-lg;
    }
}

.vertical-timeline-element-content {
    border-radius: 0;
}

#root {
    @apply bg-neutral-100;
}

.mantine-Modal-title {
    @apply font-bold;
}
